config darkstat
	option interface 'eth0'
	option httpaddr  '0.0.0.0'
	option httpport  '667'

config darkstat
        option interface 'usb0'
        option httpaddr  '0.0.0.0'    
        option httpport  '668'

config darkstat
        option interface 'eth1'
        option httpaddr  '0.0.0.0'
        option httpport  '669'

config darkstat
        option interface 'mlan0'
        option httpaddr  '0.0.0.0'
        option httpport  '670'

config darkstat
        option interface 'uap0'
        option httpaddr  '0.0.0.0'
        option httpport  '671'

config darkstat
        option interface 'uap1'
        option httpaddr  '0.0.0.0'
        option httpport  '672'

config darkstat
        option interface 'wwan0'
        option httpaddr  '0.0.0.0'
        option httpport  '673'
